{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "posts/styles.css" %}>
{% endblock css %}

{% block content %}

    <div class="main-post-container p-4">
        <h2 class="">{{ post.title }}</h2>
        <em>Posted by {{ post.author }} on {{ post.created_on }}</em>

        <div class="my-4"></div>
        <p>{{ post.content }}</p>
        <div class="my-5"></div>

        <div class="actions-div p-2 d-flex justify-content-between align-items-end">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Comment</button>
            <div class="opinion-div">
                {% if post.author != user %}
                    <button class="opinion-btn btn" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> {{post.likes}}</button>
                    <button class="opinion-btn btn" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> {{post.dislikes}}</button>
                {% else %}
                    <button class="btn" id="green" disabled><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> {{post.likes}}</button>
                    <button class="btn" id="red" disabled><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> {{post.dislikes}}</button>
                {% endif %}
            </div>
        </div>

        <div class="comments-div mt-1 py-3">
            {% for _ in range %}
                <div class="comment">
                    <div>
                        <strong><u>Username1</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod iure, atque aliquid inventore aut officiis nobis officia provident suscipit alias blanditiis? Ab, atque sapiente nisi sint adipisci dignissimos corporis illo omnis sunt.
                    </div>
                    <div>
                        <div class="float-right small-text">
                            <a href="">*Edit</a>
                            <a href="">Agree</a>
                            <a href="">Disagree</a>
                        </div>
                    </div>
                </div><br><br>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Write a Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.content}}
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Post Comment</button>
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post Comment</button>
            </div>-->
        </div>
        </div>
    </div>


{% endblock content %}

{% block js %}
    <script src={% static "posts/app.js" %}></script>
{% endblock js %}