<nav class="navbar sticky-top bg-white navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}">The Football Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %}" id="home-nav">
          <a class="nav-link" href="{% url 'index' %}">Forum <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item{% if request.resolver_match.url_name == 'scores' %} active{% endif %}" id="results-nav">
          <a class="nav-link" href="{% url 'scores' %}">Yesterday's Results</a>
        </li>
        <li class="nav-item{% if request.resolver_match.url_name == 'fixtures' %} active{% endif %}" id="fixtures-nav">
          <a class="nav-link" href="{% url 'fixtures' %}">Today's Fixtures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <span class="mr-2">Welcome, </span>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user }}
            </a>

            <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a href="{% url 'profile' username=user %}" class="dropdown-item">Profile</a>
                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
            </div>
        </div>
        <!--<span><a href="{% url 'logout' %}">Logout</a></span>-->
      {% else %}
        <span class="mr-2"><a class="btn btn-outline-primary" href="{% url 'login' %}">Log In</a></span>
        <span><a class="btn" href="{% url 'signup' %}">Sign Up</a></span>
      {% endif %}
      
    </div>
</nav>